.how{
    padding-bottom: 70px;
    text-align: center;
    h2{
        padding-bottom: 24px;
        
    }
    .how_card{
        display: flex;
        padding: 10px 56px;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .how_card-img{
            @media screen and (max-width: 576px) {
                width: 200px;
            }
        }
    }
}